.container {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.items {
  position: relative;
  display: flex;
  flex-grow: 0;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  top: 25px;
}


.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all .5s ease-in-out;
}

.reveal.active{
  transform: translateY(0);
  transition: all .5s ease-in-out;
  opacity: 1;
}

.filter-item {
  &::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .5s;
  }

  &:hover {
   &::after {
     width: 100%;
   }
  }
}
