<section class="page-container">
  <article class="page-content">
    <h1 class="page-title">Please verify</h1>
    <h2 class="page-subtitle">
      We see you aren't verified yet. We sended you an email to verify!
    </h2>
    <h3 class="page-text">
      If you didn't get an email. Check your spam folder
    </h3>

    <form [formGroup]="verifyForm" (ngSubmit)="onSubmit()">
      <app-default-input-fields
        [name]="'token'"
        [type]="'text'"
        formControlName="token"
        ngDefaultControl
        style="margin-bottom: 20px"
      ></app-default-input-fields>

      <button type="submit" class="button large primary" [disabled]="!verifyForm.valid" data-submit-button>
        Log in
      </button>
    </form>

    <button
      class="mr-1 items-center justify-right bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      [routerLink]="['/']"
    >
      Back to homepage
    </button>
    <button
      class="mr-1 items-center justify-right bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      (click)="logout()"
    >
      Logout
    </button>
  </article>
</section>
