<section class="card">
  <section class="product-image">
    <figure>
      <img title="" alt="" src="{{ orderProduct.product.productImages[0].imagePath }}">
    </figure>
  </section>
  <section class="product-info">
    <section class="product-name">
      <span class="">{{ orderProduct.product.productName }}</span>
    </section>

    <section class="product-status">{{ orderProduct.status }}</section>
  </section>
  <section class="arrow">
    <svg viewBox="0 0 14 14" aria-hidden="true" class="" focusable="false">
      <path fill-rule="evenodd"
            d="M4.694 3.644a.508.508 0 010-.71.497.497 0 01.7-.006l4.06 4.084-4.055 4.054a.505.505 0 01-.707 0 .501.501 0 01.002-.71l3.352-3.351-3.352-3.36z"></path>
    </svg>
  </section>
</section>
