<section class="login-box">
  <section class="login-modal">
    <form class="login-form" [formGroup]="firstRegistrationForm" (ngSubmit)="onSubmit()">
      <section class="login-title">
        <section class="login-text">
          <h1>Register</h1>
          <span>Already have an account? <a class="caps" routerLink="/auth/login">Log in</a></span>
        </section>
      </section>

      <section class="login-input-section">
        <app-default-input-fields
          [name]="'firstname'"
          [type]="'text'"
          formControlName="firstname"
          ngDefaultControl
        ></app-default-input-fields>
          <app-default-input-fields
            [name]="'middlename'"
            [type]="'text'"
            formControlName="middlename"
            ngDefaultControl
          ></app-default-input-fields>
          <app-default-input-fields
            [name]="'lastname'"
            [type]="'text'"
            formControlName="lastname"
            ngDefaultControl
          ></app-default-input-fields>
          <app-default-input-fields
            [name]="'email'"
            [type]="'email'"
            formControlName="email"
            ngDefaultControl
          ></app-default-input-fields>
          <app-default-input-fields
            [name]="'password'"
            [type]="'password'"
            formControlName="password"
            ngDefaultControl
          ></app-default-input-fields>

          <app-default-input-fields
            [name]="'passwordCheck'"
            [type]="'password'"
            formControlName="passwordCheck"
            ngDefaultControl
          ></app-default-input-fields>
        </section>

      <section class="login-form-button">
        <button type="submit" class="button large primary" [disabled]="!firstRegistrationForm.valid"
                data-submit-button>
          Register
        </button>
      </section>
    </form>
  </section>
</section>

