.item {
  min-width: 300px;
  position: relative;
  height: 550px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.3s linear;
  border-radius: 10px;

  .item-images {
    position: relative;

    .item-image {
      position: absolute;
      top: 0;
      padding: 10px;

      .item-images-front {
        opacity: 1;
        transition: all 0.4s linear;
      }

      .item-images-back {
        opacity: 0;
        transition: all 0.4s linear;
      }
    }
  }

  &:hover {
    .item-images {
      .item-image {
        .item-images-back {
          opacity: 1;
        }

        .item-images-front {
          opacity: 0;
        }
      }
    }
  }

  .item-info {
    position: absolute;
    bottom: 0;
    display: block;
    margin: 15px 15px;

    h2 {
      color: black;
      //font-size: 180%;
      //font-weight: 300;
    }

    p {
      font-size: 120%;
    }
  }
}
