<section class="w-full shadow mb-5 rounded">
  <section class="flex flex-col md:flex-row">
    <section class="p-5 text-lg flex-auto items-center flex-grow w-1/2">
      <h2 class="mb-1">{{ product.productName }}</h2>
      <section class="hidden md:flex">
        <app-bubble-text
          [key]="'Price'"
          [value]="product.price | currency:'EUR'"></app-bubble-text>
      </section>
    </section>

    <section class="flex-auto ">

    </section>

    <section class="flex-auto flex md:justify-center md:items-center m-4">
      <section class="flex">
        <a routerLink="/dashboard/admin/products/{{ productId }}">
          <button class="mr-1 items-center justify-right bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Edit product
          </button>
        </a>
        <button class="items-center justify-right bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" (click)="removeProduct()">
          Delete product
        </button>
      </section>
    </section>
  </section>
</section>
