<section class="w-full shadow mb-5 rounded">
  <section class="flex flex-row">
    <section class="p-5 text-lg flex-auto items-center flex-grow w-1/2">
      <img src="{{ brand.logoUrl }}">
      <h2 class="mb-1">{{ brand.brandName }}</h2>
      <section class="flex">
<!--        <app-user-roles [roles]="user.roles"></app-user-roles>-->
<!--        <app-user-email [email]="user.email"></app-user-email>-->
      </section>
    </section>

    <section class="flex-auto ">

    </section>

    <section class="flex-auto flex justify-center items-center">
      <section class="flex">
        <a routerLink="/dashboard/admin/brands/{{ brand.id }}">
          <button class="mr-1 items-center justify-right bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Edit brand
          </button>
        </a>
        <button class="items-center justify-right bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" (click)="removeUser()">
          Delete brand
        </button>
      </section>
    </section>
  </section>
</section>

