<main class="container">
  <header *ngIf="!overview">
    <h1>Shopping Cart</h1>
    <ul class="breadcrumb">
      <li>Home</li>
      <li>Shopping Cart</li>
    </ul>
    <span class="count">{{ cartProducts.length }} items in the bag</span>
  </header>

  <section>
    <section *ngIf="cartProducts.length != 0">
      <ul class="products">
        <li class="row" *ngFor="let item of cartProducts">
          <app-cart-item [product]="item.product" [amount]="item.quantity" [overview]="overview" (change)="calculateTotalProduct()"></app-cart-item>
        </li>
      </ul>
    </section>
    <section *ngIf="cartProducts.length == 0" class="empty-product">
      <h3>There are no products in your cart.</h3>
      <button>Shopping now</button>
    </section>
  </section>

  <section class="container" *ngIf="cartProducts.length != 0">

    <section class="summary">
      <ul>
        <li>Subtotal <span>{{ totalProduct | currency: "EUR" }}</span></li>
        <li>Tax <span>{{ tax | currency: "EUR" }}</span></li>
        <li class="total">Total <span>{{ grandTotal | currency: "EUR" }}</span></li>
      </ul>
    </section>

    <section class="checkout">
      <button type="button" (click)="toCheckout()" *ngIf="!overview">Check Out</button>
    </section>
  </section>
</main>
