<main class="container">

  <section class="shopping-cart">

    <section class="column-labels">
      <label class="product-image">Image</label>
      <label class="product-details">Product</label>
      <label class="product-price">Price</label>
      <label class="product-quantity">Quantity</label>
      <label class="product-removal">Remove</label>
      <label class="product-line-price">Total</label>
    </section>

    <section *ngIf="cartProducts">
      <section class="product" *ngFor="let product of cartProducts">
        <app-cart-item [product]="product" (change)="calculateTotalProduct()"></app-cart-item>
      </section>
    </section>

    <section class="totals">
      <section class="totals-item">
        <label>Subtotal</label>
        <section class="totals-value" id="cart-subtotal">{{ totalProduct | currency: 'EUR' }}</section>
      </section>
      <section class="totals-item">
        <label>Tax (21%)</label>
        <section class="totals-value" id="cart-tax">{{ tax | currency: 'EUR' }}</section>
      </section>
      <section class="totals-item totals-item-total">
        <label>Grand Total</label>
        <section class="totals-value" id="cart-total">{{ grandTotal | currency: 'EUR' }}</section>
      </section>
    </section>

    <button class="checkout" (click)="toCheckout()">Checkout</button>

  </section>

</main>
