<section class="login-box">
  <section class="login-modal">
    <form class="login-form" [formGroup]="setNewPassword" (ngSubmit)="onSubmit()">
      <section class="login-title">
        <section class="login-text">
          <h1>Register</h1>
          <span>Already have an account? <a class="caps" routerLink="/auth/login">Log in</a></span>
        </section>
      </section>

      <section class="login-input-section">
        <app-default-input-fields
          [name]="'email'"
          [type]="'email'"
          formControlName="email"
          ngDefaultControl
        ></app-default-input-fields>
      </section>

      <section class="login-form-button">
        <button type="submit" class="button large primary disabled" [disabled]="!setNewPassword.valid"
                data-submit-button>
          Register
        </button>
      </section>
    </form>
  </section>
</section>

