$color-border: #eee;
$color-label: #aaa;
$font-default: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-bold: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';

.product-image { float: left; width: 20%; }
.product-details { float: left; width: 37%; }
.product-price { float: left; width: 12%; }
.product-quantity { float: left; width: 10%; }
.product-removal { float: left; width: 9%; }
.product-line-price { float: left; width: 12%; text-align: right; }

.product-image {
  text-align: center;
  img {
    width: 100px;
  }
}

.product-details {
  .product-title {
    margin-right: 20px;
    font-family: $font-bold;
  }
  .product-description {
    margin: 5px 20px 5px 0;
    line-height: 1.4em;
  }
}

.product-quantity {
  input {
    width: 40px;

  }
}

.remove-product {
  border: 0;
  padding: 4px 8px;
  background-color: #c66;
  color: #fff;
  font-family: $font-bold;
  font-size: 12px;
  border-radius: 3px;
}

.remove-product:hover {
  background-color: #a44;
}
