/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-size: 16px;
  height: auto;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 210%;
  font-weight: 400;
  text-shadow: 2px 3px 5px rgba(0,0,0,0.29)
}

h2 {
  font-size: 180%;
  font-weight: 300;
  text-shadow: 2px 3px 5px rgba(0,0,0,0.29)
}

h3 {
  font-size: 150%;
  font-weight: 200;
  text-shadow: 2px 3px 5px rgba(0,0,0,0.29);
  color: black;
}

p {
  font-size: 120%;
  color: black;
}

.container {
  width: 90%  ;
}

.scrolling-items-y {
  height: 65vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
