/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-size: 16px;
  height: auto;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 210%;
  font-weight: 400;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.29)
}

h2 {
  font-size: 180%;
  font-weight: 300;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.29)
}

h3 {
  font-size: 150%;
  font-weight: 200;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.29);
  color: black;
}

p {
  font-size: 120%;
  color: black;
}

.container {
  width: 90%;
  animation: headerButton;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-fill-mode: backwards;
}

.scrolling-items-y {
  height: 65vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  $scrollbar-1-thumb-width: 8px;
  $scrollbar-1-thumb-color: #e10600;
  $scrollbar-1-track-color: #b0b7c4;

  // Chrome & Opera
  &::-webkit-scrollbar {
    width: $scrollbar-1-thumb-width;
    height: $scrollbar-1-thumb-width;

    &-track {
      background-clip: content-box;
      border: ($scrollbar-1-thumb-width/4) solid transparent;
    }

    &-thumb {
      background-color: $scrollbar-1-thumb-color;

      &:hover {
        background-color: mix($scrollbar-1-thumb-color, #000, 90%);
      }
    }

    &-corner,
    &-track {
      background-color: $scrollbar-1-track-color;
    }
  }

  // Firefox
  scrollbar-width: thin;
  scrollbar-color: $scrollbar-1-thumb-color $scrollbar-1-track-color;
}


@keyframes headerButton {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
