<section class="scrolling-items-y">
  <form class="w-full" [formGroup]="brandCreateForm" (ngSubmit)="onSubmit()">
    <app-default-input-fields
      [name]="'brandName'"
      [type]="'text'"
      [value]="brandCreateForm.controls['brandName'].value"
      formControlName="brandName"
      ngDefaultControl
      class="mb-6"
    ></app-default-input-fields>

    <app-default-input-fields
      [name]="'url'"
      [type]="'text'"
      [value]="brandCreateForm.controls['url'].value"
      formControlName="url"
      ngDefaultControl
      class="mb-6"
    ></app-default-input-fields>

    <section class="flex flex-wrap -mx-3 mt-6 mb-6">
      <section class="flex items-center justify-center w-full">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="logo">Upload file</label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="logo"
          type="file"
          formControlName="logo"
          required
          (change)="onImageUpload($event)"
        >
      </section>
    </section>

    <button class="mr-1 items-center justify-right bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            type="submit">
      Submit
    </button>
  </form>
</section>
