<section class="w-full shadow mb-5 rounded">
  <section class="flex flex-row">
    <section class="p-5 text-lg flex-auto items-center flex-grow w-1/2">
      <h2 class="mb-1">{{ supplier.name }}</h2>
      <section class="flex">
        <app-bubble-text
          [key]="'Address'"
          [value]="supplier.address"
        ></app-bubble-text>

        <app-bubble-text
          [key]="'Zipcode'"
          [value]="supplier.zipcode"
        ></app-bubble-text>

        <app-bubble-text
          [key]="'City'"
          [value]="supplier.city"
        ></app-bubble-text>

        <app-bubble-text
          [key]="'Country'"
          [value]="supplier.country"
        ></app-bubble-text>
    </section>
    </section>

    <section class="flex-auto ">

    </section>

    <section class="flex-auto flex justify-center items-center">
      <section class="flex">
        <a routerLink="/dashboard/admin/suppliers/{{ supplierId }}">
          <button class="mr-1 items-center justify-right bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Edit supplier
          </button>
        </a>
        <button class="items-center justify-right bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" (click)="removeSupplier()">
          Delete supplier
        </button>
      </section>
    </section>
  </section>
</section>
