<section class="bg-white py-8 lg:py-16">
  <div class="max-w-2xl mx-auto px-4">
    <div class="flex justify-between items-center mb-6">
      <h2 class="text-lg lg:text-2xl font-bold text-gray-900">Discussion ({{ reviews.length != undefined ? reviews.length : '0'}})</h2>
    </div>
    <form class="mb-6" [formGroup]="postReviewForm" (ngSubmit)="postReview()">
      <div class="py-2 px-4 mb-4 rounded-lg rounded-t-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700">
        <label for="comment" class="sr-only">Your comment</label>
        <textarea id="comment" rows="6"
                  formControlName="description"
                  class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none dark:text-white dark:placeholder-gray-400 dark:bg-gray-800"
                  placeholder="Write a comment..." required></textarea>
      </div>
      <div class="py-2 px-4 mb-4 rounded-lg rounded-t-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700">
        <label for="comment" class="sr-only">stars</label>
        <input type="text" id="stars" rows="6"
               formControlName="stars"
                  class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none dark:text-white dark:placeholder-gray-400 dark:bg-gray-800"
                  placeholder="Write a number between 0 and 5" required>
      </div>
      <button type="submit"
              class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-blue-500 hover:bg-blue-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
        Post Review
      </button>
    </form>
    <article class="p-6 mb-6 text-base rounded-lg bg-gray-900" *ngFor="let review of reviews">
      <p class="text-white">{{ review.stars }}  <fa-icon [icon]="faStar" class="text-[#ffc107]"></fa-icon></p>
      <p class="text-gray-500 dark:text-gray-400">{{ review.description }}</p>
    </article>
  </div>
</section>
